<!DOCTYPE html>

<html lang="pt-BR">
    <head>
        <meta charset="utf-8">
        <title>Currículo Charlante</title>
        <meta name="description" content="Meu currículo pessoal.">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../static/css/exp.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Sarala&display=swap" rel="stylesheet">
        <link rel="shortcut icon" href="./CSS/curriculum-vitae.png"> 
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css">
    </head>



    <body>

  <div class="parent">

  <div class="sidebar">

    <div class="sidebar-pos"></div>

      <div class="img-sidebar">
            <img src="../static/gabriel-foto.jpeg" class="picture" alt="Foto Gabriel Charlante">
      </div>

      <div class="menu">
              <a href="index.html">Sobre</a>
              <a href="educacao.html">Educação</a>
              <a class="selected" href="experiencia.html">Experiência</a>
              <a href="habilidades.html">Habilidades</a>
              <a href="interesse.html">Interesses</a>
              <a href="contato.html">Contato</a>
              

      </div><!--menu-->
    </div><!--sidebar-pos-->

  </div><!--sidebar-->

       <main class="content">

        <section class="descricao">
          


          <h3> <a href="https://www.ets.com.br/"> <span> ETS - Eletronic Test Systems </span> </a></h3>
          <h4> Período: <span> Janeiro de 2013 - Outubro de 2014</span></h4>
          <h4> Cargo: <span> Programador Técnico Treine.</span></h4><br />

          <p>Responsável pelo desenvolvimento de testadores de circuitos eletrônicos (Gigas de teste), manutenção corretivas, preventivas e preditivas deles;</p><br>

          <p>Participação no desenvolvimento de projetos,   
          interpretação/análise de esquemas elétricos, 
          datasheets e CAD’s elétricos, realizando medições e teste quando necessário, com foco em procedimentos de controle de qualidade, respeitando normas técnicas de segurança;</p><br />

          <p>Realização de contato com fabricantes e fornecedores de máquinas e equipamentos eletrônicos para implantação de melhorias técnicas no processo ou soluções de problemas complexos; </p><br /><br />

          <p>Responsável pelo Debug de scripts em linguagem C (para microcontroladores);</p><br />


          <p>Participação no desenvolvimento de especificação de requisitos, medições de qualidade e avaliações de qualidade (ISO/IEC 25000, ISO/IEC 25022, ISO/IEC 25023, ISO/IEC 25024, ISO/IEC 25030, ISO/IEC 25040). </p><br /><br />



          <h3> <a href="https://www.ituran.com.br/"> <span> Ituran Road Track Monitoramento de Veículos </span> </a></h3>
          <h4> Período: <span> Julho de 2016 - Janeiro de 2017</span></h4>
          <h4> Cargo: <span> Técnico de Inspeção e Testes</span></h4><br />

          <p>Elaboração de testes funcionais, SM (solicitação de mudança) sistêmica; Participação em melhorias de sistemas nas fases de teste e homologação de projetos; </p><br>

          <p>Responsável pelo desenvolvimento de dispositivo de teste de circuitos eletrônicos (Gigas de teste), manutenções corretivas, preventivas e preditivas deles; </p><br>
            
          <p>Participação no desenvolvimento de projetos e interpretação e análise de esquemas elétricos, datasheets e CAD’s elétricos, realizando medições e teste quando necessário, com foco em procedimentos de controle de qualidade, respeitando normas técnicas de segurança; </p><br>
            
          <p>Participação no desenvolvimento de software de eletrônica embarcada para Gigas de teste e módulos GSM (Linguagem C voltada para PIC’s) e participação na correção de Bug em scripts em linguagem C.</p><br /><br />


          <h3> <a href="http://www.iosienergia.com.br/"> <span> Iosi Projetos S/S LTDA. </span> </a></h3>
          <h4> Período: <span>Março de 2019 - Maio de 2019 </span></h4>
          <h4> Cargo: <span> Estagiário em Eletrônica</span></h4><br />

          <p>Responsável pela revisão de manuais de equipamentos e esquemas elétricos unifilares e trifilares de subestação de alto padrão, através do AutoCad;</p><br>

          <p>Responsável pela cotação de valores de equipamentos e alinhamento de necessidades de projetos com cliente e implantação de melhorias técnicas no processo ou soluções de problemas complexos;</p><br>

          <p>Responsável pela programação e parametrização de Relés de alta tensão. </p><br /><br />

          <h3> <a href="https://www.bigamerican.com.br/"> <span> Tech American Comercio de Máquinas LTD. </span> </a></h3>
          <h4> Período: <span>Agosto de 2019 - Fevereiro de 2022 </span></h4>
          <h4> Cargo: <span> Técnico Mecatrônico</span></h4><br />

          <p>Realização de contato com fabricantes e fornecedores de máquinas e equipamentos eletrônicos para implantação de melhorias técnicas no processo ou soluções de problemas 
          complexos; </p><br>

          <p>Responsável pela aplicação de treinamentos aos operadores, atuando na orientação sobre mudanças de processos, assegurando a qualidade nos procedimentos de utilização; </p><br>

          <p>Responsável pela manutenção preventiva e corretiva de máquinas de serigrafia em geral, como máquinas de Corte e Vinco, CNC Laser, Laminadora, Guilhotina, Máquina dobradora de 
          aço etc.;</p><br>

          <p>Responsável pelo desenvolvimento de manuais de utilização das máquinas em geral, pela organização dos atendimentos do time da área de manutenção, pela organização do estoque, 
          bem como a cotação de preços de equipamentos e máquinas com fornecedores e atendimento ao cliente via help desk e em loco.</p><br><br />


          <h3> <a href="https://registradores.onr.org.br/"> <span> ONR - Órgão Nacional de Registradores. </span> </a></h3>
          <h4> Período: <span>Fevereiro de 2022 - Fevereiro de 2023 </span></h4>
          <h4> Cargo: <span> Estagiário em Sistemas de Informação.</span></h4><br />



          <p>Contato para suporte técnico com cartórios de registro de imóveis do Brasil;</p><br />

          <p>Acesso aos servidores para verificação de backups;</p><br />

          <p>Realização de backups dos servidores dos cartórios para o servidor do ONR;</p><br />

          <p>Elaboração de relatórios para evidenciar o ambiente atual e os backups realizados para o ONR;</p><br />

          <p>Instalação e configuração de softwares, criação de perfil de usuário para os colaboradores, formatação de computadores e instalação de sistemas operacionais;</p><br />

          <p>Participação na correção de bugs em aplicações em Java e Python.</p><br /><br />




          <p id="alerta"> Nota: Ao clicar nos nomes das empresas, você será levado aos sites delas.</p><br />

        </section><!--descricao-->


        

       </main><!--content-->

       </div><!--parent-->
       <footer>
           
       </footer>
    </body>

</html>