<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="utf-8">
  <title>Currículo Charlante</title>
  <meta name="description" content="Meu currículo pessoal.">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="{{ url_for('static', filename='css/int.css') }}">
  <link rel="shortcut icon" href="{{ url_for('static', filename='curriculum-vitae.png') }}">

  <!-- Fonts e Ícones -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Sarala&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css">
</head>

<body>
  <div class="parent">
    <div class="sidebar">
      <div class="sidebar-pos"></div>

      <div class="img-sidebar">
        <img src="{{ url_for('static', filename='gabriel-foto.jpeg') }}" class="picture" alt="Foto Gabriel Charlante">
      </div>

      <div class="menu">
        <a href="{{ url_for('index') }}">Sobre</a>
        <a href="{{ url_for('educacao') }}">Educação</a>
        <a href="{{ url_for('experiencia') }}">Experiência</a>
        <a href="{{ url_for('habilidades') }}">Habilidades</a>
        <a class="selected" href="{{ url_for('interesses') }}">Interesses</a>
        <a href="{{ url_for('contato') }}">Contato</a>
      </div>
    </div>

    <main class="content">
      <section class="descricao">
        <h3><span>Áreas de Interesse</span></h3><br>

        <p><span>Desenvolvimento de Software Web:</span> Interesse em atuar como desenvolvedor Fullstack, Backend ou Frontend na criação de aplicações web modernas.</p>
        <p><span>Desenvolvimento de Software Mobile:</span> Criação de aplicativos e jogos para dispositivos móveis.</p>
        <p><span>Desenvolvimento de Jogos Digitais:</span> Interesse no desenvolvimento de jogos para web, mobile e outras plataformas.</p>
        <p><span>Inteligência Artificial:</span> Desenvolvimento de soluções inteligentes voltadas à automação industrial e tomada de decisões.</p>
      </section>
    </main>
  </div>

  <footer></footer>
</body>
</html>
