<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="utf-8">
  <title>Mensagem enviada!</title>
  <link rel="icon" href="{{ url_for('static', filename='check-circle.gif') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/sucesso.css') }}">
</head>

<body>
  <div id="w">
    <div id="content">
      <div class="notify successbox">
        <h1>Mensagem enviada com sucesso!</h1>
        
        <span class="alerticon">
          <a href="{{ url_for('index') }}">
            <img src="{{ url_for('static', filename='check-circle.gif') }}" alt="Ícone de confirmação"/>
          </a>
        </span>

        <p>Muito obrigado pela sua mensagem. Assim que possível, entrarei em contato! :)</p>
        <p>Clique na imagem para retornar à página principal.</p>
      </div>
    </div>
  </div>
</body>
</html>
